@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Vollkorn&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
}

/* HEADER */
header {
    height: 7vw; /* Altura */
    background: #4d4d5c; /* Color de fondo */
    padding: 0 6.1vh; /* El "padding" (relleno) en CSS es una propiedad que se utiliza para agregar espacio alrededor del contenido de un elemento, dentro de su borde. Es una forma de separar el contenido de los bordes del elemento, proporcionando espacio adicional dentro de la caja del elemento.*/
    color: #fff; /* Color de los elementos dentro del encabezado */
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-transform: uppercase; /* Transforma el texto a Mayuscula */
    color: #6cc091; /* Color del texto del logo */
    font-weight: calc(180 + 0.5vw); /* El font weight o en español peso de la fuente (grosor de la fuente) puede afectar el diseño responsivo en el sentido de que el cambio en el peso de la fuente puede influir en la altura y el ancho de los elementos que contienen texto. Sin embargo, este impacto suele ser más perceptible en tamaños de fuente grandes o en diseños muy sensibles a la tipografía.    */
}

.menu a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 1vw;
    transition: 0.4s;
}

.menu #active{ 
    color: #6cc091;
    cursor: pointer;
}

.mostrar-menu,
.esconder-menu{
    font-size: 10vw;
    cursor: pointer;
    display: none;
    transition: 0.4s;
}


.mostrar-menu {
    order: 1;
}

.menu a:hover,
.mostrar-menu:hover,
.esconder-menu:hover {
    color: #6cc091;
}

#check {
    display: none;
}

/* BANNER */
#banner {
    padding: 15vw 10vw;
    background-image: url(./images/banner.jpg);
    height: 45vh;
    background-size: cover;
    background-position: center;
}
#banner::before {
    content: '';
    background: rgba(77,77,92, 0.7);
    position: absolute;
    width: 100%;
    height: 45vh;
    left: 0;
}

.contenido-banner {
    position: relative;
    color: #fff; /* Probar con color igual a los ojos o la lupa*/
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 3.5);
}

.contenido-banner h3 {
    font-size: 30px;
    font-weight: 400;
    padding: 10px 0px;
}

.contenido-banner h2 {
    font-size: 60px;
}

.boton-empezar {
    text-decoration: none;
    color: #fff;
    border: 0.25vw solid #6cc091;
    padding: 1vw 3vw;
    align-self: baseline;
    transition: all 0.4s;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 3.5);
}

.boton-empezar:hover {
    background: #6cc09070;
}

/* APLICACIONES */
#aplicaciones {
    padding: 5vw 5vw;
    display: flex;
    justify-content: center;
    text-align: center;
}

#aplicaciones img{
    width: 40vh;
    border-radius: 100%;
}

#aplicaciones div {
    padding: 5vw 5vw;
}

#aplicaciones div h4 {
    color: #4d4d5c;
    font-size: 5vh;
    margin: 1vw 0;
}

#aplicaciones div p {
    color: #4d4d5c87;
    font-size: 3vh;
}

.boton-saber-mas {
    display: inline-block;
    text-decoration: none;
    color: #6cc091;
    padding: 1vw 3vw;
    border: 0.3vw solid #6cc091;
    border-radius: 3vw;
    margin-top: 1.2vw;
    transition: all 0.4s;
}

.boton-saber-mas:hover{
    background: #6cc091;
    color: #fff;
}

/* ICONOS */
#iconos {
    padding: 0 5vw;
    background: rgba(77, 77, 92, 0.5);
}

.contenido-iconos {
    padding: 5vw 5vw 0px 5vw;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.contenido-iconos div {
    flex: 1;
    margin: 10vw 0;
}

#icono-mobile {
    border: none;
}

.contenido-iconos div i {
    color: #6cc091;
    font-size: 10vh;
    margin: 0;
}

.contenido-iconos div #active{
    color: #d80e0e;
    font-size: 4vh;
    margin: 1vw;
}

.contenido-iconos div h3 {
    color: #fff;
    font-size: 5vh;
    font-weight: 100;
    margin: 2vw 2vw;
}

.contenido-iconos div p {
    color: rgba(255red, 255, 255, 0.55);
    font-size: 3vh;
}

.boton-iconos {
    text-align: center;
    padding-bottom: 1vh;
}


/* FORMULARIO */
#contacto {
    background: #6cc091;
    padding: 9vh 0;
    color: #fff;
}

#contacto h4 {
    text-align: center;
    font-size: 5vh;
    margin-bottom: 3vh;
    margin-top: 2vh;
}

#contacto form {
    max-width: 80%;
    margin: 0 auto;
}

.datos-form {
    display: flex;
}

.datos-form div {
    padding: 2.5vh;
    flex: 1;
}

form label {
    display: block;
    margin-bottom: 2vh;
}

form input,
form textarea {
    background: #6cc091;
    border-radius: 3vh;
    border: 0.5vh solid #8dcca9;
    padding: 4vh 0.1vh;
    outline: 0;
    color: #fff;
    width: 100%;
}

form input:focus,
form textarea:focus {
    border-color: #4bae77;
    box-shadow: 0 0 0 0.1vh #4bae77;
}

form input::placeholder,
form textarea::placeholder {
    color: #fff;
}

.mensaje {
    display: flex;
    flex-direction: column;
    padding: 0.3vh;
}

.boton-formulario .boton-saber-mas {
    display: block;
    border: 0.1vh solid #fff;
    color: #fff;
    text-align: center;
    transform: 0.4s;
}

.boton-formulario .boton-saber-mas:hover {
    background: #4fa776ad;
}

/* FOOTER */
footer{
    background: #4d4d5c;
    color: #cccccc4a;
    text-align: center;
    padding: 2vh 0;
}


/* About */
.banner-about div{
    padding: 25vh 20vh;
    background-image: url(./images/about-bg.jpg);
    height: 200vh;
    background-size:cover;
    background-position: center;
}



.banner-about::before {
    content: '';
    background: rgba(77,77,92, 0.85);
    position: absolute;
    width: 100%;
    margin: 20vh 26vh 10vh 0;
    height: 130vh;
    left: 0;
    border-radius: 10vh;

}

.banner-about h2 {
    position: relative;
    color: #fff;
    font-size: 7vh;
    text-align: center;
    margin: 1.5vh;
    text-decoration: underline #6cc091;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 3.5);
}

.banner-about p {
    position: relative;
    font-size: 1.5em;
    color: #ffffffe1;
    margin: 0.001em;
    line-height: 1.7;
    font-family: 'Dosis', serif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    word-spacing: 1px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 3.5);
    text-align: center;
}

.banner-about p::after {
    content: '\00a0'; /* Agrega un espacio no rompible después de cada punto */
}

/* Coloreando emogis */
.computer-p i {
    color: #4bae77;
}

.rocket-p i {
    color: #d80e0e;
}

.users-gear i {
    color: rgb(17, 99, 253);
}

.code-p i {
    color: #c83f56;
}

.people-arrow-p i {
    color: rgba(255, 255, 0, 0.712);
}

.magic-sparkles-p i {
    color: #fcba06;
}

.network-wired-p i {
    color: #02ee0e;
}

.handshake-p i {
    color: #0debcd;
}

#mobile-about div a {
    position: relative;
    margin: 0 23em;
    padding: 0.9em 8em;
}



/* RESPONSIVE */
@media(max-width: 768px){
    /* HEADER */
    .mostrar-menu,
    .esconder-menu{
        display: block;
    }

    .menu {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #4d4d5c;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 100px 0px;
        z-index: 100;
        transition: 0.8s;
    }

    .menu a {
        display: block;
        padding: 20px;
    }

    .esconder-menu{
        position: absolute;
        top: 40px;
        right: 40px;
    }

    #check:checked ~ .menu {
        right: 0;
    }
    
    /* APLICACIONES */
    #aplicaciones {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #aplicaciones img {
        margin: 0 auto;
        
    }

    /* ICONOS */
    .contenido-iconos {
        flex-direction: column;
    }

    .contenido-iconos div {
        border: none;
    }

    /* FORMULARIO */
    .datos-form{
        flex-direction: column;
    }


    /* About */
    #mobile-about div{
        text-align: center;
        padding: 2.4vh;
        margin: 0;
        height: 420vh;
        padding-left: 0.5vh;
    }

    #mobile-about div h2 {
        font-size: 5vh;
        margin-top: 10vh;
        padding : 7.5vh 0 0 3vh;
        text-align: center;
    }

    #mobile-about div p {   
        font-size: 3.5vh;
        width: 45vh;
        margin: 4vh 0 0 0;
    }

    #mobile-about div a {
        font-size: 2em;
        padding: 0 3vh;
        margin: 1.2em 0 0 0.9em;
    }

    .banner-about::before {
        height: 310vh;
    }
    
    
}


